<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="./jsfunction/form.js"></script> -->
    <title>asd</title>
</head>
<body>
     <form id="adminform"> 
        <div class="error" style="background-color: red;"></div>
        <br />
        <label for="username">Username</label><br />
        <input type="text" id="username" required /><br />
        <label for="password">Password</label><br />
        <input type="password" id="password" required /><br />
        <p id="error"></p>
        <input type="submit" value="login as user" /><br /><br />
        <input type="submit" value="login as admin" /><br />

      </form>

   
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
      <script src="/formadmin.js"></script>


</body>
</html>