<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="./jsfunction/form.js"></script> -->
    <title>asd</title>
</head>
<body>
    <h1>Hello</h1>
    <form>
        <div class="error" ></div>
        <br />
        <label for="username">Username</label><br />
        <input type="text" id="username" required /><br />
        <label for="password">Password</label><br />
        <input type="password" id="password" required /><br />
        <p id="error" style="color: red;"></p>
        <input type="submit" value="login as user" /><br /><br />
       

      </form>

      <a class="btn btn-dark" href="/api/users/admin-login">admin</a>

      <p>Create an Account!</p>
        <a  href="/api/users/register-user">Register</a>




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="/form.js"></script>
</body>
</html>